@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
 @font-face {
    font-family: Qatar;
    src: url("../../src/fonts/alfont_com_qatar-regular.ttf");
  }
 @font-face {
    font-family: Qatarnumbers;
    src: url("../../src/fonts/Qatar2022.ttf");
  
  }
}